.image_hover {
  -webkit-transition: .15s;
  transition: .15s;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
}

.image_hover:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: .5;
  -webkit-transition: .15s;
  transition: .15s;
}

#breadcrumb li {
  padding: 0;
}

.gallery_image {
  height: 150px;
}

.stati_image {
  height: 300px;
}

.gaidi_image {
  height: 150px;
}

.sf-menu > li > a > img {
  height: 24px;
}

.single_post img {
  display: inline-block;
}

.single_post ul li {
  list-style-image: url(/images/marker.png?5cc8bd1e0e119ccb75f610190569a6c7);
  list-style-type: square;
  padding: 0;
}

#breadcrumb li {
  list-style-image: none;
}

.full-width {
  width: 100%;
}

.sticky {
  width: 100% !important;
}

@media screen and (max-width: 767px) {
  .posts iframe {
    height: 100% !important;
  }
}

